<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/reports']">
      <mat-icon>bubble_chart</mat-icon>
      <span>Reports</span>
    </button>
    <button mat-menu-item [routerLink]="['/admin']">
      <mat-icon>supervised_user_circle</mat-icon>
      <span>Admin</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>