.bkw {
    background-image: url("../../assets/images/ddss.png");
    background-color: #0e084b; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}